@font-face {
  font-family: Imported;
  src: url('./Font/Brinnan_family_otf/Brinnan\ Bold.otf');
}

*{
  font-family: Imported;

margin: 0px;
padding: 0px;
}
.link-contact{
  color: black;
  
}
.navbar{
  display: flex;
height: 128px;
max-width: 1741px;

justify-content: space-between;
padding: 8px 72px 24px 2px;
align-items: center;
box-shadow: 0 0 5px 0px rgba(0,0,0,0.3);
}
.right{
  display: flex;
justify-content: flex-end;
align-items: center;
margin: 10px;
}
.logo img{
  margin-left: 62px;
  transition: transform 0.2s ease-in-out;
}
.logo img:hover{
  transform: scale(1.1);
}
a{
  text-decoration: none;
  outline: none;
  margin-right: 40px;
  color:  #1B1633;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.4px;
transition: transform 0.2s ease-in-out;
}
a:hover{
  font-size: 22px;
  color:  #E7774D ;
}


.btn{
  display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
text-align: center;
gap: 10px;
border-radius: 12px;
color: white;
background:  linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
transition: transform 0.2s ease-in-out;
}
.btn:hover{
  transform: scale(1.1);
}
.me{
  color: white;
  background: transparent;
  outline: none;
  border: none;
  color:  #FFF;
  text-align: end;
margin: 0px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;
}
.me:hover{
  color: white;
}

 /* hero */

.hero{
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 68px 51px 35px 72px;
}
.heroLeft{
  align-items: center;
}
.bold-para{
  color:  #1B1633;
  
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.light-para{
  color:  #1B1633;
  margin-top: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
  opacity: 0.8;
}
/* .heroRight{
  width: 657px;
height: 869px;
flex-shrink: 0;
} */
.Aud-btn{
  color:  #FFF;
margin-top: 30px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;
border-radius: 12px;
background:  linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
display: inline-flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
outline: none;
border: none;
transition: transform 0.2s ease-in-out;
}
.Aud-btn:hover{
  transform: scale(1.1);
}
 /* SOCIAL PART */
  
.social-area{
  display: flex;
  margin: 160px;
}

.pic-part{
  display: flex;
  gap: 40px;
}

.center-tabs{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
height: 464px;
transition: transform 0.2s ease-in-out;
}
.side-tabs{
  display: flex;
flex-direction: column;
justify-content: space-around;
gap: 40px;
height: 296px;

}

.img-background:hover{
  transform: scale(1.2);
}

.img-background{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
height: 128px;
flex-shrink: 0;
border-radius: 24px;
background:  #FFF;
transition: transform 0.2s ease-in-out;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.06);

}
.twitter{
  margin-top: 150px;
}
.instagram{
  margin-top: 150px;
}
.text-part{
  margin-left: 60px;
}
 .first-para{
  color:  #1B1633;
  
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; 
  letter-spacing: 1.6px;
  text-transform: uppercase;
  opacity: 0,7;
 }
 .second-para{
  color:  #1B1633;
margin-top: 20px;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
 }
 .third-para{
  color: #1B1633;

font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 140%; 
letter-spacing: 0.4px;

opacity: 0.8;
 }


/* 
MAP */
.whole{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 .Map-H1{
  color:  #1B1633;
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  opacity: 0.7;
 }
 .Map-H2{
  color:  #1B1633;
text-align: center;
margin-top: 17px;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 150%;
letter-spacing: 0.8px;
 }

 .world{
  margin-top: 33px;
  

flex-shrink: 0;

align-items: center;
margin-left: 8px;

 }
 .world-img{
  width: 100%;
 }

 /* business */


 .business-part{
  display: flex;
  margin-top: 160px;
  margin-left: 17px;
 }
 .text-portion{
  margin-left: 40px;
 }
 .business-para1{
  color:  #1B1633;
  
  font-size: 48px;

  font-weight: 700;
  line-height: 140%; 
  letter-spacing: 0.96px;
  margin-top: 70px;
  
 }
 .next-span{
  background:  linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-size: 48px;

font-weight: 700;
line-height: 140%;
letter-spacing: 0.96px;
 }
 .business-para2{
  max-width: 563px;
  
  color:  #1B1633;
  
  font-size: 24px;

  font-weight: 300;
  line-height: 140%; 
  letter-spacing: 0.36px;
  margin-top: 40px;
 }
 .business-btn{
  margin-top: 40px;
  display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
outline: none;
border: none;
gap: 10px;
  color:  #FFF;
  border-radius: 12px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;
background:  linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
 
transition: transform 0.2s ease-in-out;
}
.business-btn:hover{
  transform: scale(1.1);
}


 .text-divs{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  width: 472px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 30px;

  background: linear-gradient(
    45deg,
    rgba(214, 180, 61, 0.3) 14.64%,     /* Color with 50% opacity at 14.64% of the gradient */
    rgba(219, 169, 63, 0.3) 18.25%,     /* Color with 50% opacity at 18.25% of the gradient */
    rgba(232, 138, 69, 0.3) 24.76%,     /* Color with 50% opacity at 24.76% of the gradient */
    /* ... (more color stops with opacity) ... */
    rgba(67, 61, 168, 0.3) 84.29%,      /* Color with 50% opacity at 84.29% of the gradient */
    rgba(64, 65, 166, 0.3) 85.36%       /* Color with 50% opacity at 85.36% of the gradient */
  );
  transition: transform 0.2s ease-in-out;
}
.text-divs:hover{
  transform: scale(1.1);
}



 .div-para{
  color:  #1B1633;

font-size: 20px;
font-weight: 300;
line-height: 140%; /* 28px */
margin-left: 10px;
margin-right: 10px;

 }
 .text-divs img{
  width: 60px;
  
height: 60px;
margin-left: 20px;
border-radius: 60px;
background: lightgray 50% / cover no-repeat;
 }
 .move-away{
  margin-left: 170px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(27, 22, 51, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 472px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 30px;
  transition: transform 0.2s ease-in-out;
 }
 .move-away:hover{
  transform: scale(1.1);
 }
 .move-away img{
  width: 60px;
  
  height: 60px;
  margin-left: 20px;
  border-radius: 60px;
  background: lightgray 50% / cover no-repeat;
 }





 /* formm */
.form-text{
  margin-left: 56px;
  margin-top: 100px;
}
 .form-para1{

max-width: 436px;
color:  #1B1633;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 100.8px */
 }
 .form-para2{

max-width: 544px;
color:  #1B1633;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 33.6px */
letter-spacing: 0.48px;
opacity: 0.8;
margin-top: 50px;
 }
 .formbackground-img{
  margin-top: 160px;
  background: linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
  max-width: 1236px;
padding: 60px 0;
 border-radius: 20px;
display: flex;
margin-left: 55px;
margin-right: 55px;
}

.form{
 width: 700px;
  margin-right: 56px;
  display: inline-flex;
  padding: 40px 20px ;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  border-radius: 24px;
  background:  #FFF;
}

.first-input{
  display: flex;
width: 90%;
padding: 10px 10px 10px 16px;
align-items: flex-start;
gap: 10px;
border-radius: 12px;
background: #F6F6F6;
border: none;
outline: none;
margin-top: 20px;
}
.first-input:focus {
  border: 2px solid #E88A45;
}

.message-input{
  display: flex;
width: 90%;
padding: 10px 10px 10px 16px;
justify-content: flex-start;
gap: 10px;
flex: 1 0 0;
border-radius: 12px;
background: #F6F6F6;
height: 204px;
outline: none;
margin-top: 20px;
border: none;
margin-bottom: 10px;
}
.form p{
  margin-top: -10px;
  color:  #1B1633;

font-size: 32px;

font-weight: 700;
line-height: 40px; 
letter-spacing: 0.64px;
}
.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-btn{
  display: flex;
  width: 90%;
padding: 16px 24px;
justify-content: center;
align-items: center;
outline: none;
border: none;
font-size: 20px;
color: white;
margin-top: 20px;
gap: 10px;
transition: transform 0.2s ease-in-out;
align-self: stretch;
border-radius: 12px;
background:linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
}
.form button:hover{
  transform: scale(1.1);
}
textarea:focus{
  border: 2px solid #E88A45;
}
/* 
footer */

.footer p{

  color:  #1B1633;
text-align: center;
font-size: 16px;

font-weight: 300;
line-height: normal;
margin-top: 160px;
padding-bottom: 40px;
}

/* loooogggggiiiiiiiiiinnnnn */

.login-bg{
  z-index: -10;
  position: absolute;
}
.cancel-login{
  display: flex;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px;
opacity: 0.4;
background:  #140e31;
color: white;
outline: none;
border: none;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.4px;
}
.cancel-login:hover{
  transform: scale(1.1);
  color: white;
}
.login-btns{
  display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
margin-top: 50px;

}
.little-nav{
  height: 200px;
  width: 200px;
  background-color: #ffffff;
  position: absolute;
  top: 110px;
 
 margin-left: -250px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  
  flex-direction: column;
  padding: 20px 0px;
}
.send-login{
  display: flex;
  padding: 16px 34px;
  justify-content: space-between;
  align-items: center;
margin: 0px;
  outline: none;
  border: none;
  border-radius: 12px;
  background:linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
color: white;
font-size: 20px;
font-style: normal;
font-weight: 700;

line-height: normal;
letter-spacing: 0.4px;
}
.send-login:hover{
  transform: scale(1.1);
  color: white;
}


.login-para{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;

}
.login-para-profile{
  display: flex;
  justify-content: center;
  align-items: center;


}
.login-para-profile{
  color:  #1B1633;

  font-size: 32px;
  
  font-weight: 700;
  line-height: 40px; 
  letter-spacing: 0.64px;
}
.login-para-sign{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;
}

.login-para p{
  color:  #1B1633;

font-size: 32px;

font-weight: 700;
line-height: 40px; 
letter-spacing: 0.64px;
}
.login-para-signup{
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.login-para-signup p{
  color:  #1B1633;

font-size: 32px;

font-weight: 700;
line-height: 40px; 
letter-spacing: 0.64px;
}
.login-para-change{
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 50px;

}
.login-para-change p{
  color:  #1B1633;

font-size: 32px;

font-weight: 700;
line-height: 40px; 
letter-spacing: 0.64px;
}
.login{
  height: 100vh;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
justify-content: end;
  margin-top: -10px;
  
}
.login-form{
 
  display: inline-flex;
 max-width: 600px;
  flex-direction: column;
 margin-right: 30px;
  justify-content: center;
  border-radius: 24px;
  background:  #ffffff;
  padding: 80px 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.login-form-change{
 
  display: inline-flex;
 max-width: 600px;

  flex-direction: column;
 margin-right: 30px;
  justify-content: center;
  border-radius: 24px;
  background:  #ffffff;
  padding: 80px 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.login-para-forget{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
  .login-para-forget p{
    color:  #1B1633;
  
  font-size: 32px;
  
  font-weight: 700;
  line-height: 40px; 
  letter-spacing: 0.64px;
  }

.whole-login{
  display: flex;
  justify-content: flex-end;

  flex-direction: column;
}
.login-email{
  margin-top: 10px;
  display: flex;
 width: 90%;
  padding: 10px 10px 10px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #F6F6F6;
  border: none;
  outline: none;
  margin-top: 20px;
  }
  .login-email:focus {
    border: 2px solid #E88A45;
  }

.login-password{
  margin-top: 10px;
  display: flex;
 width: 90%;
  padding: 10px 10px 10px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #F6F6F6;
  border: none;
  outline: none;
  margin-top: 20px;
  }
  .login-password:focus {
    border: 2px solid #E88A45;
  }

.mail{
  margin-top: 50px;
  color:  #1B1633;
  
  font-size: 20px;

  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.psswd{
  color: #1B1633;

  font-size: 20px;

  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.bottom-text{
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.iamfirst{
  color: rgba(27, 22, 51, 0.80);
  text-align: center;

  font-size: 16px;
  
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  opacity: 0.8;
}
.iamsecond{
  color: #EB445B;
  text-align: center;

  font-size: 16px;

  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;

  opacity: 0.8;
}
.side-tabs-if{
  display: flex;
flex-direction: column;
justify-content: space-around;
gap: 40px;

height: 296px;
}

/* SIGN UP */

.sign-form{
  margin-top: 40px;
  display: inline-flex;
 max-width: 624px;
  flex-direction: column;
 margin-right: 30px;
  justify-content: center;
  border-radius: 24px;
  background:  #ffffff;
  padding: 80px 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.name{
  margin-top: 50px;
  color:  #1B1633;

  font-size: 20px;

  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.sign-name{
  margin-top: 10px;
  display: flex;
  width: 600px;
  padding: 10px 10px 10px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #F6F6F6;
  border: none;
  outline: none;
  margin-top: 20px;
  }
  .sign-name:focus {
    border: 2px solid #E88A45;
  }
.sign-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.password{
  margin-top: 50px;
  color:  #1B1633;

  font-size: 20px;

  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.confirm-password{
  margin-top: 50px;
  color: #1B1633;

  font-size: 20px;
  
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

/* CONTACT */
.contact-index{
  padding-top: 50px;
}
.contact-bg{
  position: absolute;
  top: 10px;
  z-index: -10;
  height: 200%;
}
.footer-contact{
 margin-top: 370px;
  text-align: center;
  margin-bottom: 30px;
}
.send-contact{
  display: flex;
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  border: none;
  border-radius: 12px;
  background:linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
color: white;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.4px;
}
.send-contact:hover{
  transform: scale(1.1);
}
.contact-btn{
  display: flex;
 justify-content: flex-end
 ;
}
.platform{
  width: 100%;
}

/* Order */
.order-links{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* PROFILE */
 .form-prof-parent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.prof-child{
  display: flex;
  justify-content: space-between;
} 
.Prof-login{
height: 100vh;
background-color: #b94216;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  z-index: -10;
  margin-top: 300px;
}
.proprof{
  display: flex;
  justify-content: center;
margin-top: 50px;
}
.prof-btn{
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: #94959B;
  margin-left: 80px;
  margin-bottom: 30px;
  
  }
  .prof-btn:hover{
    transform: scale(1.1);
  }
  .prof-button{
    color: white;
    background: transparent;
    border: none;
  }

.prof-paraz{
  margin-left: 20px;
}
  .prof-para1{
    color: #1B1633;

font-size: 24px;

font-weight: 700;
line-height: 130%; /* 31.2px */
letter-spacing: 0.48px;
text-transform: capitalize;
  }
  .prof-para2{
    color: #94959B;

font-size: 14px;
margin-top: 15px;

font-weight: 400;
line-height: 130%; 
text-transform: capitalize;
  }



  /* Mine */
.mine-parent{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
  .mine-form{
    border-radius: 20px;
    margin-top: 30px;
    width: 1224px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
  }
  .lines-div{
   
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
border-radius: 30px;
margin-bottom: 30px;

  }
  .my-order{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .mine-order-para{
    color: #1B1633;

font-size: 32px;

font-weight: 700;
line-height: 40px; /* 125% */
letter-spacing: 0.64px;
  }

  .single-line{
    display: flex;
    justify-content: space-between;
   background: #F6F6F6;
    border: 1px solid gainsboro;
    padding: 20px 0;
  }

  .iamCounting{
    color:  #1B1633;

font-size: 16px;

font-weight: 400;
line-height: normal;
letter-spacing: 0.32px;
opacity: 0.7;
margin-left: 30px;
  }
.iamTime{
  color:  #1B1633;
  width: 160px;

font-size: 16px;


font-weight: 400;
line-height: normal;
letter-spacing: 0.32px;
opacity: 0.7;
}
.iamInsta{
  color:  #1B1633;

font-size: 16px;

width: 70px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.32px;
opacity: 0.7;
margin-left: 30px;

}
.iamMoney{
  color:  #1B1633;

font-size: 16px;

font-weight: 400;
line-height: normal;
letter-spacing: 0.32px;
opacity: 0.7;
}
.iamDet{
  color:  #1B1633;

font-size: 16px;

font-weight: 400;
line-height: normal;
letter-spacing: 0.32px;
opacity: 0.7;
}

.reorder-btn{
  display: flex;
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  outline: none;
  border: none;
  border-radius: 60px;
  background:linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
color: white;
font-size: 15px;
font-style: normal;
margin-right: 30px;
font-weight: 800;
line-height: normal;
letter-spacing: 0.4px;
}
.reorder-btn:hover{
  transform: scale(1.1);
}
.grey-line{
  display: flex;
  justify-content: space-between;

  border: 1px solid gainsboro;
  padding: 20px 0;
  background: #E6E6E6;
  color:  #1B1633;
text-align: center;

font-size: 20px;

font-weight: 400;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.iamDays{
  color:  #1B1633;

font-size: 16px;

font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
opacity: 0.6;
margin-right: 80px;
}


.iamCounting-grey{
  color: #1B1633;

  font-size: 20px;

  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-left: 30px;
}
.iamTime-grey{
  color:  #1B1633;

  font-size: 20px;

  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-left: -30px;
}
.iamInsta-grey{
  color: #1B1633;

  font-size: 20px;

  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-left:-20px;
}
.iamMoney-grey{
  color:  #1B1633;

  font-size: 20px;
 
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
 margin-right: 150px;
 margin-left: -60px;
}

.iamDays-grey{
  color:  #1B1633;

  font-size: 20px;

  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.4px;
  margin-right: 60px;
}

     /* GETTTTTTT */

.get-parent{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.get-btn{
  background-color: #533DA8;
  display: flex;
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  outline: none;
  border: none;
  border-radius: 12px;
  background:linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
color: white;
font-size: 15px;
font-style: normal;

font-weight: 800;
line-height: normal;
letter-spacing: 0.4px;
}

.get-para1{
  color: #1B1633;
  text-align: center;
 font-size: 64px;
 
  font-weight: 700;
  line-height: normal;
  max-width: 789px;
  margin-top: 50px;
}

.get-para2{
  color: #1B1633;
text-align: center;

font-size: 24px;

margin-top: 30px;
font-weight: 300;
line-height: 140%; 
letter-spacing: 0.48px;
max-width: 878px;
height: 198px;
}


/* AMOUNT */

.get-inside{
  display: flex;
justify-content: space-between;
max-width: 900px;

}

.design-input{
  margin-top: 10px;
  display: flex;
width: 380px;
  padding: 10px 10px 10px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #F6F6F6;
  border: none;
  outline: none;
  margin-top: 20px;
  }
  .design-input:focus {
    border: 2px solid #E88A45;
  }

  .orderno{
    
      display: flex;

      margin-bottom: 70px;
      width: 100%;
      margin-top: -40px;
      
    }
    .orderno-buy{
      display: flex;
justify-content: center;
      margin-bottom: 50px;
      width: 100%;
    }
    .orderno-buy p{
      color: #1B1633;
    
      font-size: 32px;
   
      font-weight: 700;
      line-height: 40px; 
      letter-spacing: 0.64px;
    }
    .orderdiv-buy{
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .invo{
      display: flex;
      justify-content: end;
      width: 100%;
    }
    .orderno p{
      color: #1B1633;
    
    font-size: 32px;
 
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.64px;
    }
    .para-num{
      

      color:  #1B1633;
      text-align: center;

      font-size: 16px;
  
      font-weight: 300;
      line-height: normal;
      opacity: 0.8;
    }
    .para-total{
      color: #1B1633;
text-align: center;

font-size: 40px;

font-weight: 300;
line-height: normal;
    }
.am-login-btns{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

}
  .am-login{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .am-span{
    background: linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40px;

    font-weight: 400;
    line-height: normal;
  }
  .followers-amount{
width: 100%;
  }

  /* CHANGINGS */

  .span-sign{
    font-size: 16px;
    margin-right: 0px;
  }

  .span-sign:hover{
    font-size: 16px;
    text-decoration: underline;
  }
  .forget-mail{
display: flex;
text-align: center;
justify-content: center;
    margin-top: 50px;
    color:  #1B1633;

    font-size: 20px;

    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
  }
  .login-form-am{
    display: inline-flex;
width:900px ;

     flex-direction: column;
    margin-right: 30px;
     justify-content: center;
     border-radius: 24px;
     background:  #ffffff;
     padding: 80px 60px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .login-password-am{
    margin-top: 10px;
    display: flex;
    width: 90%;
    padding: 10px 10px 10px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: #F6F6F6;
    border: none;
    outline: none;
    margin-top: 20px;
    }
    .login-password-am:focus {
      border: 2px solid #E88A45;
    
  }
  .invoice{
   
display: flex;
justify-content: end;

width: 50%;
color: #F71C36;

font-size: 20px;

font-weight: 400;
/* background-color: transparent; */
outline: none;
border: none;
line-height: normal;
letter-spacing: 0.4px;
  }
  .order-order{
    width: 130%;
    display: flex;
    justify-content: end;
   
  }
  .orderdiv{
    display: flex;
  width: 100%;
  justify-content: end;
  }
  
  .login-bg-sign{
    z-index: -10;
    position: absolute;
    width: 160%;
  }
  .footer-sign{
    display: flex;
    justify-content: center;
  margin-top: 400px;
  color: #1B1633;
text-align: center;

font-size: 16px;

font-weight: 300;
line-height: normal;
  }

  .upload-icon{
    color: white;
    display: flex;
width: 24px;
height: 24px;

justify-content: center;
align-items: center;
  }
.editform{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .sign-form-prof{
    display: inline-flex;
   max-width: 924px;
    flex-direction: column;
   margin-right: 30px;
    justify-content: center;
    border-radius: 24px;
   
   padding-top: 50px;
    z-index: 10;
    margin-bottom: 80px;

    padding: 80px 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .sign-name-prof{
    margin-top: 10px;
    display: flex;
    width: 90%;
    padding: 10px 10px 10px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: #F6F6F6;
    border: none;
    outline: none;
    margin-top: 20px;
  }
  .sign-name-prof:focus {
    border: 2px solid #E88A45;
  }
  .login-email-prof{
    margin-top: 10px;
    display: flex;
    width: 90%;
    padding: 10px 10px 10px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: #F6F6F6;
    border: none;
    outline: none;
    margin-top: 20px;
  }
  .login-email-prof:focus {
    border: 2px solid #E88A45;
  }
.prof-img{
  width: 90px;
}
/* .prof-btn{
  padding: 0px;
} */

.login-btns-psswd{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: -30px;
  width: 500px;
}
.grey-icon{
  transform: rotate(270deg);
  padding:4px 8px;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 100%;
  
}
#id-change{
  color:  #1B1633;

  font-size: 16px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  opacity: 0.7;
  transition: transform 0.2s ease-out;
}
#id-change:hover{

  background-color:  #b94216 ;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: underline;
  opacity: 1;
  transform: scale(1.05);
}
.up-icon{
  padding:4px 8px;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 100%;
  transform: rotate(90deg);
}
.small-nav{
  height: 200px;
  width: 200px;
  background-color: #ffffff;
  position: absolute;
  top: 110px;
  right: 350px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  
  flex-direction: column;
  padding: 20px 0px;
}

.smNav-link{
  margin-left: 20px;
  display: flex;
  justify-items: center;
  align-items:center ;

}
.lg{
  color: red;
  margin-left: 4px;
}

.h2-text{
  margin-left: 4px;
}
.am-span-change{
  background: linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 20px;

  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;
}
.input-file{
  display: none;
}
.followers{
  display: flex;
width: 90%;
padding: 32px;
flex-direction: column;
align-items: center;
gap: 80px;
margin-top: 20px;
box-shadow: 0 0 5px 0px rgba(0,0,0,0.3);
border-radius: 20px;
}
.followers{
  margin-left: 20px;
}
.para-para{
  color:  #1B1633;

font-size: 32px;

font-weight: 700;
line-height: 40px; /* 125% */
letter-spacing: 0.64px;
}
.light-text{
  color:  #1B1633;

font-size: 18px;
z-index: -10;
margin-top: -20px;
font-weight: 300;
line-height: normal;
letter-spacing: 0.36px;
opacity: 0.5;
}
.icon-parent{
border-radius: 20px;
display: flex;
overflow-x:hidden ;
}
.small-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
height: 128px;
flex-shrink: 0;
margin: 5px;
border-radius: 24px;
background:  #FFF;
transition: transform 0.2s ease-in-out;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.am-login-btns-get{
  display: flex;
  margin-top: 40px;
  
  width: 100%;
  justify-content: space-between;
}
.followers-parent{
  display: flex;
  justify-content: center;
}

.design-input-follow{
  margin-top: 10px;
  display: flex;
 width: 90%;
  padding: 10px 10px 10px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #F6F6F6;
  border: none;
  outline: none;
  margin-top: 20px;
  }
  .design-input-follow:focus {
    border: 2px solid #E88A45;
  }
  
  .signup{
    
    display: flex;
    justify-content: flex-end;

  }

  .sign-up-bg{
    background-image: url("./images/login-bg.png");
  
  }
.midle-icon{
  display: flex;
}
.smoll{
  visibility: hidden;
}
.smoll-login{
  visibility: hidden;
}
  @media only screen and (max-width: 1000px) {
    .hero{
      display: flex;
      flex-direction: column;
      margin: 0px;
      padding: 6px;
    }
    .heroRight{
      margin-top: 50px;
    }
    .girl-img{
      width: 100%;
    }
    .social-area{
      display: flex;
      flex-direction: column;
      margin: 0px;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 5px;
    }
    .pic-part{
     gap: 5px;
    }
    .first-para{
      margin-top: 60px;
    }
    .Map-H1{
      margin-top: 100px;
    }
    .business-part{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .color-div{
      margin-top: 60px;
    }
    /* .move-away{
    display: flex;
    flex-direction: column;
    } */
    .formbackground-img{
      display: flex;
      flex-direction: column;
    margin-left: 0px;
    }
    .form{
      margin-top: 50px;
     
    }
    .text-part{
      margin: 0px;
      padding: 0px;
    }
    .business-part{
    
      margin-top: 100px;
      margin-left: 0px;
     }
     .move-away{
 
      margin: 20px 0px;
     }
     .move-away:hover{
      transform: scale(1.05);
     }
    
     .text-portion{
      margin-left: 0px;
      padding: 6px;
     }
     .text-divs{
      margin: 0px;
     }
     .text-divs:hover{
      transform: scale(1.05);
    }
     .divs{
      margin-top: 20px;
     }
     .form{
 
     margin: 20px;
     
    }
    .formbackground-img{
      margin-top: 60px;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    }
    .form-text{

      margin-top: 0px;
    }
    .form-para2{
      margin: 0px;
      padding: 5px;
    }
    .form-para1{
      margin: 0px;
    }
    .form-text{
      margin: 0px;
      padding: 6px;
    }
.login-form{
  margin: 0px;
  padding: 6px;


}
.login-form-change{
  margin: 0px;
  padding: 6px;
height: 500px;
}
.login-para-change{
  margin: 0px;
}
.login{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.cancel-login:hover{
  transform: scale(1.05);
}
.send-login:hover{
  transform: scale(1.05);
  color: white;
}
.footer p{
  margin-top:0px;
}
.iamfirst{
  margin-bottom: 30px;
}
.sign-form-prof{
 margin-top: 50px;
  padding: 6px;
 
}
.login-form-am{
  display: inline-flex;

   flex-direction: column;
margin: 0px;
   justify-content: center;
   border-radius: 24px;
   background:  #ffffff;
   padding: 0px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.get-inside{
display: flex;
flex-direction: column;
}
.form-prof-parent{
  display: flex;
  flex-direction: column;
}
.cancel-login:hover{
  transform: scale(1.05);
}
.send-login:hover{
  transform: scale(1.02);
}
.get-para2{
  height: fit-content;
}
.get-btn{
  margin-top: 30px;
}
.followers{
margin: 0px;
}
.icon-parent{
   display: flex;
   flex-direction: column;
}

.design-input-follow{
  padding: 6px;
  margin: 0px;
}
.login-form-am{
 margin: 0px;
   padding:50px 8px;
}
.mail{
  padding: 8px;
}
.psswd{
  padding: 8px;
}
.mail{
  margin-top: 20px;
}
.orderdiv{
  margin-bottom: 30px;
  width: fit-content;
}
.orderno{
  margin-bottom: 20px;
  display: flex;
  width: fit-content;
  
  flex-direction: column;
}
.invo{
width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-order{
 display: flex;
 width: 400px;
 justify-content: center;
}
.platform{
  margin-top: 0px
}
.mine-form{
transform: rotate(270deg);
}
.single-line{
  width: 1000px;
}
.reorder-btn{
  padding: 16px 24px;
margin-right: 150px;
}
.iamDays-grey{
  margin-right: 120px;
}
.iamMoney-grey{
  margin-left: 20px;
}
.iamInsta-grey{
  margin-left: 60px;
  margin-right: 20px;
}
.iamInsta{
  margin-right: 70px;
}
.iamTime-grey{
  margin-left: 10px;
}
.prof-btn{
  margin-top: 30px;
  margin-left: 0px;
}
.login-para{
  margin: 0px;
}
.login-btns-psswd{
 width: 100%;
}
.login-para-forget{
  margin: 30px;
}
.sign-name{
  margin-top: 10px;
  display: flex;
  width: 90%;
  padding: 10px 10px 10px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #F6F6F6;
  border: none;
  outline: none;
  margin-top: 20px;
  }
  .sign-form{
    margin-top: 40px;
    display: inline-flex;
   max-width: 624px;
    flex-direction: column;
 margin-right: 0px;
    justify-content: center;
    border-radius: 24px;
    background:  #ffffff;
    padding: 30px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  } 
  .move-away{
    /* margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 20px; */
    background-color: rgba(27, 22, 51, 0.3);
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  
    max-width: 380px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 30px;
    transition: transform 0.2s ease-in-out;
   }
   .text-divs{
    width: 380px;
    margin-left: 10px;
   }
.form{
  width: 300px;
}
.navbar{
  display: none;
}
.small-nav{
  display: block;
}
.smoll{
  visibility: visible;
  display: flex;
  flex-direction: column;
}
.logo-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-small{
 padding: 8px;
  transition: transform 0.2s ease-in-out;
}
.logo-small:hover{
  transform: scale(1.05);
}
.smoll-icon{
  padding: 20px;
  font-size: 20px;
  
}
.smoll-right{
background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 12%;
}
.smoll-contact{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.smoll-log{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.smoll-btn{
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  border-radius: 12px;
  color: white;
  background:  linear-gradient(45deg, #D6B43D 14.64%, #DBA93F 18.25%, #E88A45 24.76%, #EB8246 26.24%, #E7774D 29.56%, #DD5860 35.43%, #DB5164 36.56%, #D2466C 47.45%, #C93B73 54.74%, #CB3179 57.57%, #A23394 66.48%, #7F35AB 75.17%, #7D35AB 78.99%, #7537AA 81.11%, #673AA9 82.81%, #533DA8 84.29%, #4041A6 85.36%);
  transition: transform 0.2s ease-in-out;
}
.logo-icon-home{
  display: flex;
  justify-content: space-between;
}
.home-parent{
  display: flex;
  flex-direction: column;
align-items: center;
padding: 20px;
box-shadow: 0 0 5px rgba(0,0,0,0.3);
margin-top: -100px;
background-color: #ffffff;
}

.home-img{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  
}
.right-home{
  position: absolute;
  width: 100%;

top: 30%;

}
.home-contact{
display: flex;
justify-content: center;
margin-left: 60px;
}

.little-nav{
  height: 200px;
  width: 200px;
  background-color: #ffffff;
  position: absolute;
  top: 50px;
 
 margin-left: -100px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  
  flex-direction: column;
  padding: 20px 0px;
}
.footer p{

  color:  #1B1633;
text-align: center;
font-size: 16px;

font-weight: 300;
line-height: normal;
margin-top: 60px;
padding-bottom: 40px;
}
.link-contact{
  display: flex;
  justify-content: end;
  margin-top: 25px;
}
.smoll-login{
  visibility: visible;
display: flex;
justify-content: space-between;
}
.smoll-contact-log{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.login-email-prof{
  margin-top: 10px;
  display: flex;
  width: 90%;
  padding: 10px 10px 10px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px; 
  background: #F6F6F6;
  border: none;
  outline: none;
  margin-top: 20px;
}
.login-email-prof:focus {
  border: 2px solid #E88A45;
}

  }
 
